# Important!
# In order to avoid merge conflicts, please:
#   1) Put your exclusions into the correspond section (or create a new one)
#   2) Inside a section keep items in the alphabetical order
#   3) Try to make your exclusion as more specific as possible


# [Common artifact extentions]
*.cdb
*.inp
*.pyc
*.stl
*.user
*.aps
*.suo
*.cpp.bak
*.c.bak
*.h.bak
*.ipch
*.db
*.dll
*.exe
*.exp
*.lib
*.tlog
*.pdb
*.idb
*.obj
*.ilk
*.log
*.cache
*.vcxproj
*.ini
*.opendb
*.sln
*.filters
*.db-sch
*.db-wal
*.VC.db-scm
*.obj.enc
*.recipe
*FileListAbsolute.txt
Thumbs.db
*db-shm


# [Common artifact folders]
.vs/*
.azuredevops/
**/__pycache__/*


# [Common build artifacts]
Binaries/*
Libraries/*
ThirdParty/*
Build/*
BuildRW/*
!Build/*.bat
!Build/*.py
!Build/_PublishBuildExcludeList.txt

# [Deployment local builds artifacts] - Enlight/Mitral/MIS
/Deployment/Mitral/Bootstrapper/obj/*



# [Mimics build artifacts] - TODO: make more specific
obj/*
tmp/*

# [Microsoft Office temporary files]
~$*.docx
~$*.pptx


# PyCharm project files
**/.idea/*
*.idea

# Planner local builds artifacts - TODO: make more specific
temp

# custom developer files with cmake project options overrides
*.local.cmake
